*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}

.singup{
  display: flex;
  align-items: center;
}

.singup-img img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.singup-form{
  width: 50%;
  padding: 50px;
}

.singup-form h2{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.singup-form form{
  display: flex;
  flex-direction: column;
}

.singup-form form .input-field{
  margin-bottom: 20px;
}

.singup-form form .input-field input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.singup-form form .input-field input:focus{
  border: 1px solid #000;
}

.singup-form form .input-field input[type="submit"]{
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.singup-form form .input-field input[type="submit"]:hover{
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.singup-form form .input-field a{
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
}

.singup-form form .input-field a:hover{
  text-decoration: underline;
}

.singup-form form .input-field .check{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.singup-form form .input-field .check input{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.singup-form form .input-field .check label{
  font-size: 0.9rem;
}

@media screen and (max-width: 1000px){
  .singup{
    flex-direction: column;
  }

  .singup-img{
    display: none;
  }

  .singup-form{
    width: 100%;
  }
}